<html>
<head>
  <title> {{title}} </title>
</head>
<body>
<h1><app-my-new-component></app-my-new-component></h1>
{{body}}
<br>
{{ myObject.gender }}
<ul>
  <li *ngFor="let arr of myArr">
{{ arr }}
  </li>
</ul>

<img src="{{myImage}}" style="width:100px;height:auto;">
<img [src]="myImage" style="width:100px;height:auto;">
<img bind-src="myImage" style="width:100px;height:auto;">
<button [disabled]="buttonStatus">My Button </button>
<button (click)="myEvent($event)"> My Event Button </button>

</body>
</html>